
  .container {
    border: 2px solid #ff823eb7;
    background-color: #FFEACA;
    border-radius: 35px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 200px;
    position: abs;
    margin-top: 20%;
  }
  .container2 {
    border: 2px solid #ff823eb7;
    background-color:#FFEACA;
    border-radius: 35px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 200px;
    position: absolute;
    margin-top: 300px;
  }
  .container3 {
    border: 2px solid #ff823eb7;
    background-color: #FFEACA;
    border-radius: 35px;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 200px;
    position: absolute;
    margin-top: 650px;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ff823efd;
    background-color:#ff823eef;
    margin-left: 600px;
    position: absolute;
    margin-top: 150px;
    border-radius: 35px;
  }
  .chatvictor1{
  
      width: 70px;
      margin-left: 35%;
      position: absolute;
      border-radius: 60%;
  }
   /* Darker chat container */
   .darker2 {
    border-color: #ff823efd;
    background-color:#ff823eef;
    margin-left: 600px;
    position: absolute;
    margin-top: 470px;
    border-radius: 35px;
  }
  /* Darker chat container */
  .darker3 {
    border-color: #ff823efd;
    background-color: #ff823eef;
    margin-left: 600px;
    position: absolute;
    margin-top: 830px;
    border-radius: 35px;
  
  }
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: rgb(8, 3, 3);
  }
    
.button{
    border-radius:30px ;
    margin-top: -40px;
    border: 0;
    margin-left:340px;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    
}
.button1{
    width: 35px;
    border-radius:50px ;
    margin-top: -40px;
    border: 0;
    margin-left:200px;
    background-color:#5CA7FD;
    position: absolute;
    
}

#divBusca{
  background-color:rgba(128, 128, 128, 0.185);
  border:solid 1px;
  border-radius:15px;
  width:300px;
  position: absolute;
  margin-left: 100px;
  margin: 30px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}
.lupita{
  width: 25px;
  height: 25px;
  
}
.busca  div {
  margin-left: 50%;
}
.busca{
  width: 50px;
  margin-left:20%;
}
.nome{
  border: 2px solid #dedede48;
  background-color:#ff823e;
  padding: 10px;
  width: 1270px;
  margin-left:31%;
  position: absolute;
 
}
.fotonome{
  width: 50px;
  margin-left: -20%;
  position: absolute;
  border-radius: 80%;
}
.linha {
  width: 600px;
  height: 795px;
  margin-top: 3%;
  overflow: scroll;
  position: absolute;
  
}
.cuadrito{
  width: 1298px;
  height: 77%;
  overflow: scroll;
  position: absolute;
  right: 0%;
  overflow-x: hidden;
  background-image: url(../img/chat/grupo.jpeg);

}

.chat1{
  border: 2px solid #dedede;
  background-color:rgba(170, 170, 170, 0.308);
  padding: 10px;
  margin: 10px ;
  width: 550px;
  margin-left: 5px;
  position: absolute;
  margin-top: 50px;
}
.chatrafa{
  width: 70px;
  margin-left: -45%;
  position: absolute;
  border-radius: 60%;
}
.chat2{
  border: 2px solid #dedede;
  background-color:rgba(170, 170, 170, 0.308);
  border-radius: 25px;
  padding: 10px;
  margin: 10px 0;
  width: 550px;
  margin-left: px;
  position: absolute;
  margin-top: 200px;
}
.chatvictor{
  width: 70px;
  margin-left: -45%;
  position: absolute;
  border-radius: 60%;
    }
.chat3{
  border: 2px solid #dedede;
  background-color:rgba(170, 170, 170, 0.308);
   border-radius: 25px;
  padding: 10px;
  margin: 10px 0;
  width: 550px;
  margin-left: 5px;
  position: absolute;
  margin-top: 350px;
}
.chatcard{
  width: 65px;
  margin-left: -45%;
  position: absolute;
  border-radius: 60%;
  margin-top: -1%;
}
.chatcard1{
  width: 65px;
  margin-left: -47%;
  position: absolute;
  border-radius: 60%;
  margin-top: -1%;
}
.chat4{
 border: 2px solid #dedede;
         background-color:rgba(170, 170, 170, 0.308);
          border-radius: 25px;
          padding: 10px;
          margin: 10px 0;
          width: 550px;
          margin-left: 5px;
          position: absolute;
          margin-top: 500px;
        }
        .chataline{
          width: 60px;
          margin-left: -45%;
          position: absolute;
          border-radius: 50%;
          margin-top: -1%;
        }
        .chat5{
          border: 2px solid #dedede;
            background-color:rgba(170, 170, 170, 0.308);
            border-radius: 25px;
            padding: 10px;
            margin: 10px 0;
            width: 550px;
            margin-left: 5px;
            position: absolute;
            margin-top: 650px;
          } .chat6{
            border: 2px solid #dedede;
              background-color:rgba(170, 170, 170, 0.308);
              border-radius: 25px;
              padding: 10px;
              margin: 10px 0;
              width: 550px;
              margin-left: 5px;
              position: absolute;
              margin-top: 800px;
              }
.barrita{
  position: absolute;
  bottom: 2%;
  right: 0%;
  text-align: center;
  padding-top: 30px;
  width: 68%;
 
}
.input{
  border-radius: 35px;
  width: 60%;
  height: 35px;
  margin-left: 0px;
  background-color: rgba(128, 128, 128, 0.185);
  border-color: #FF833E;
  }
  .emoji{
  border-radius:30px ;
    margin-top: -45px;
    margin-left:-450px;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    width: 50px;
  }











