@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3.5em;
}

h6{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0 auto;
    margin-bottom: 3%;
}
.place{
    position: relative;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0%;
    overflow: hidden;

}

.loginAluno{
    position: absolute;
    top: 0%;
    left: -100%;
    z-index: 3;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 0.5s linear;
    background-image: linear-gradient(110deg, #cc6ce6be, #6E86E7);
}

.divAlunoPosition1{
    left: 0%;
}

.loginEscolha{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 0.5s linear;
    background-image: linear-gradient(90deg, #6e86e7f3, #cc6ce6da, #6e86e79f);
}
.divEscolhaPosition1{
    left: 100%;
}
.divEscolhaPosition2{
    left: -100%;
}
.divCaminhoAluno{
    position: absolute;
    top: 30%;
    left: 20%;

    border-radius: 2em;
    width: 25%;
    height: 45%;
    background-color: rgba(255, 255, 255, 0.753);
}
.efectDivLogin:hover{
    box-shadow: 0em 0em 1em 0.5em #fff;
}
.divCaminhoProfessor{
    position: absolute;
    top: 30%;
    right: 20%;

    border-radius: 2em;
    width: 25%;
    height: 45%;
    background-color: rgba(255, 255, 255, 0.753);
}

.textplaceCaminho{
    position: absolute;
    top: 0%;
    width: 100%;
    margin: auto;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 5%;
}
.textplaceCaminho h5{
    margin: 0 auto;
}
.imgAlunoCaminho{
    position: absolute;
    top: 40%;
    margin: auto;
    width: 100%;
    height: 80%;
}
.imgCaminhoIconGif{
    position: absolute;
    margin: auto;
}
#imgCaminhoIconGifSizeAl{
    left: 23.2%;
    width: 56%;
    height: 70%;
}
#imgCaminhoIconGifSizeProf{
    left: 25%;
    width: 53%;
    height: 70%;
}

.placeTituloCaminho{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 20%;
    text-align: center;
}
.placeTituloCaminho h3{
    font-size: 5em;
    font-weight: bolder;
    color: #fff;
}

.loginProfessor{
    position: absolute;
    top: 0%;
    left: 100%;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 0.5s linear;
    background-image: linear-gradient(200deg, #cc6ce6da, #6E86E7);
}
.loginProfessorPosition{
    left: 0%;
}

.placeBtnVoltar{
    position: absolute;

    width: 5%;


    height: auto;
    text-align: left;

}
.placeBtnVoltarPositionAluno{
    top: 4%;
    right: 7%;
}
.placeBtnVoltarPositionProfessor{
    top: 4%;
    left: 7%;
    transform: rotate(180deg);
}

.caminhoLoginBtn{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;

    border-radius: 5px;
    border: none;
    padding-left: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.616);
    transition: all 0.2s linear;
  /*  background-color: #6E86E7;*/
}
.caminhoLoginBtn:hover{
    background-color: #856e15;
    box-shadow: 0em 0em 1em 0.2em black;
    filter: invert(100%);
    transition: all 0.2s linear;
}
.arrow-back{
    margin: auto;
    width: 40%;
}
.titu-back{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 auto;
    margin-top: 0.2em;
    margin-bottom: 3%;
}

.caminhoPrincipalLogin{
    margin: auto;
    background-color: #6e86e700;
    border: none;
    cursor: pointer;
}
.imgLogarAluno{
    position: absolute;
    top: 12%;
    right: 5%;
    width: 38%;
    height: 73%;
    margin: auto;

}
.imgLogarProfessor{
    position: absolute;
    top: 12%;
    left: 5%;
    width: 38%;
    height: 73%;
    margin: auto; 
}


#studentImg{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;

}

.placeLogin{
    position: absolute;

    
    width: 32%;
    height: 54%;
    margin: auto;

    border-radius: 5%;

    background-color: rgba(255, 255, 255, 0.753);
}
.positionAlunoPlaceLogin{
    left: 10%;
    top: 20%;
}
.positionProfPlaceLogin{
    right: 10%;
    top: 20%;
}

.tituloLogin{
    width: 100%;
    margin: auto;
    text-align: center;
}

.inserirUserNome{
    width: 100%;
    height: auto;
    margin: auto;
    padding-left: 4em;
}

.digitarUser{
    width: 72%;
    height: 195%;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    margin: auto;
    margin-left: 2.5%;
    border-radius: 1em;
    border: 0.1em solid rgba(87, 87, 87, 0.219);
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
}

.inserirUserSenha{
    width: 100%;
    height: auto;
    margin: auto;
    padding-left: 4em;
}

.espaco-log-senha{
    height: 6.4%;
}

.placeEsqSenha{
    text-align: center;
    margin: auto;
    margin-top: 5%;
}
.esqueciSenha{
    width:  39%;
    text-align: center;
    margin: 0 auto;
    color: #CB6CE6;
}

.esqueciSenha:hover{
    color: #6E86E7;
    transition: all 0.5s linear;
}

.placeBtnEntrar{
    text-align: center;
    width: 100%;
    height: 10%;
    margin: auto;
    margin-top: 7%;

}
.btnEntrarLogin{
    width: 40%;
    height: 100%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding-left: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
    background-color:#966AEF;
    transition: 0.15s linear;
    color: #fff;
}

.btnEntrarLogin:hover{
    box-shadow: inset 0em 0em 0.5em 2em rgb(255, 169, 244);
    transition: 0.3s ease-in-out;
    color: rgb(92, 0, 179);
}