@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");

body{
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 0;
}

.overlay {
    height: 69vh;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.nav {
    background-color: white;
    padding: 12px 5px;
    box-shadow: 3px 3px 15px rgba(179, 179, 179, 0.185);
    position: relative;
    z-index: 99;
}

.tabs {
    display: flex;
    width: 530px;
    justify-content: space-around;
    list-style-type: none;
}

.tab {
    padding: 12px 22px;
    background-color: #e0efff;
    color: #58a6ff;
    margin-right: 15px;
    border-radius: 55px;
    text-align: center;
    white-space: nowrap;
    transition: 0.7s ease;
    overflow: hidden;
    max-width: 0px;
    cursor: pointer;
    position: relative;
    flex-basis: 120px;
}

.tab-is-active {
    max-width: 120px;
    box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
}

.tab:hover {
    max-width: 120px;
    box-shadow: 7px 7px 15px rgba(124, 124, 124, 0.096);
    position: relative;
}

.tab-is-active .tab-name {
    opacity: 1;
}

.tab-circle {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 2px solid #95c5fd;
    z-index: 10;
    opacity: 0;
    left: 20px;
    pointer-events: none;
}

.tab-icon {
    margin-right: 1px;
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    right: 6.7px;
    top: -1px;

}

.tab-name {
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    top: 1px;
    opacity: 0;

}

.tab-calendar {
    background: #cffcff;
    color: #009ffb;
    left: 620px;

}

span.tab-team {
    background: #f1ddff;
    color: #8f44fd;
    width: 200px;
    margin-left: -10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    top: -5px;
    left: 15px;


}
.tab-team {
    background: #f1ddff;
    color: #8f44fd;
    width: 200px;
    left: 620px;

}



.tab-home {
    background-color: #3ef00846;
    color: #35e77f;
    left: 620px;

    
}
span.tab-home {
    background-color: #3ef00800;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #19E164;
    top: -5px;
    left: 15px;
    text-decoration: none;
    
}


.roxinho{
    width: 20px;
    margin-left: -8px;
    margin-top: 5px;
}


span.calendario{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #009ffb;
    top: -5px;
    left: 15px;

}

.calendario{
    width: 20px;
    margin-left: -08px;
    margin-top: 5px;


}

img.perfil{
    width: 60px;
    right: 8.5%;
    position: absolute;
    z-index: 2000;
}
img.perfil{
    cursor: pointer;
}
.sino{
    width: 20px;
    margin-left: -08px;
    margin-top: 5px;
}
span.sino{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #009ffb;
    top: -5px;
    left: 15px;


}

.tab-sino {
    background:#E0EFFD;
    color: #009ffb;
    left: 620px;
}

a{
    text-decoration: none;
}

.chat{
    width: 20px;
    margin-left: -08px;
    margin-top: 5px;
}
img.chat{
    width: 20px;
    margin-left: 8px;
    margin-top: 5px;
}
span.chat{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #FF833E;    
    top: 0px;
    left: 10px;

}

.tab-chat {
    background:#FFEACA;
    color: #FF833E;
    left: 620px;
    height: 30px;

}


img.tarefas{
    width: 22px;
    height: 22px;
    margin-left: -57px;
    margin-top: px;
    background: #ecd1dd00;

}
span.tarefas{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
    color: #d93479;
    top: 0px;
    background: #ecd1dd00;
    left: -85px;


}
.tab-tarefas {
    background: #ecd1dd;
    color: #d93479;
    left: 620px;
    height: 30px;
}

.dropDown{
    position: absolute;
    right: 3%;
    z-index: -1;

    width: 12.5%;
    height: 200px;
    margin: auto;
    background-color: #f7fcff;
}
.dropDownPositionOpen{
    top: 8.65%;
    transition: 0.5s ease-in-out;
}
.dropDownPositionClose{
    top: -25%;
    transition: 0.5s ease;
}
.dropDown h5{
    cursor: pointer;
    border-radius: 1em;
}
.dropDown a{
    list-style: none;
    text-decoration: none;
    color: #000;
}

.dropIcon{
    position: absolute;
    right: 6%;
    top: 50%;
    width: 35px;
    margin: auto;
    transform: rotate(90deg);
    border-radius: 50%;
    padding: 0.2em;
}

.dropIcon:hover{
    background-color: #dadada;
    cursor: pointer;
    transition: 0.2s linear;
}

.PlaceTextPerfil{
    width: 100%;
    height: 33.3%;
    margin: auto;
    font-size: 1.5em;
    padding: 0.5em;

}

.PlaceTextFormulario{
    width: 100%;
    height: 33.3%;
    margin: auto;
    font-size: 1.5em;
    padding: 0.5em;

}

.PlaceTextSuporte{
    position: absolute;
    width: 100%;
    height: 33.3%;
    margin: auto;
    font-size: 1.5em;
    padding: 0.5em;

}