body{
    height: 88.1vh;
}
.lastNoti{
    position: relative;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    margin: auto;

    background-color: rgb(228, 228, 228);
    overflow: hidden;
}
.lastNoti h3{
    position: absolute;
    left: 1%;
    margin: 0 auto;
    font-size: 1.4em;
}

.tituloRecentes{
    position: absolute;
    top: 5%;
    left: 9%;
    
    width: 91%;
    font-size: 2em;
}

.placeNotiRecentes{
    position: absolute;
    top: 15%;
    left: 11%;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6% 0.4%;

    width: 82%;
    height: 80%;

    overflow: scroll;
    box-shadow: 0em 0em 0.4em 0.1em #858585;


    background-color: #f2f9ff;
}

.iconFilter{
    position: absolute;
    left: 14%;
    width: 2%;
    padding: 0.2em;
    border-radius: 50%;
}
.iconFilter:hover{
    background-color: #b8b8b8;
    cursor: pointer;
    transition: 0.1s linear;
}

.lineAlert{
    border: 1px solid black;
}

/*Noti1*/
.noti1{
    position: absolute;
    top: 0%;
    display: grid;
    grid-template-columns: 10% 30% 30% 5% 10% 15%;
    grid-template-rows: 40% 30% 5%;

    width: 100%;
    height: 18%;
}
.noti2{
    position: absolute;
    top: 21%;
    display: grid;
    grid-template-columns: 10% 30% 30% 5% 10% 15%;
    grid-template-rows: 40% 30% 5%;

    width: 100%;
    height: 18%;

}
.comp2-not2{
    grid-column-start: 2;
    grid-row-start: 1;

    margin: auto;

    padding-right: 5em;

    font-size: 2em;
}
.comp2-not2 h5{
    margin: auto;
}
.noti3{
    position: absolute;
    top: 42%;
    display: grid;
    grid-template-columns: 10% 30% 30% 5% 10% 15%;
    grid-template-rows: 40% 30% 5%;

    width: 100%;
    height: 18%;
}
.noti4{
    position: absolute;
    top: 63%;
    display: grid;
    grid-template-columns: 10% 30% 30% 5% 10% 15%;
    grid-template-rows: 40% 30% 5%;

    width: 100%;
    height: 18%;
}
.noti5{
    position: absolute;
    top: 84%;
    display: grid;
    grid-template-columns: 10% 30% 30% 5% 10% 15%;
    grid-template-rows: 40% 30% 5%;

    width: 100%;
    height: 18%;
}
.noti6{
    position: absolute;
    top: 105%;
    display: grid;
    grid-template-columns: 10% 30% 30% 5% 10% 15%;
    grid-template-rows: 40% 30% 5%;

    width: 100%;
    height: 18%;
}
.noti7{
    position: absolute;
    top: 126%;
    display: grid;
    grid-template-columns: 10% 30% 30% 5% 10% 15%;
    grid-template-rows: 40% 30% 5%;

    width: 100%;
    height: 18%;
}
.lineSep1{
    position: absolute;
    top: 20%;
    left: 20%;

    width: 60%;
    height: 0.05em;
    margin: auto;

    background-color: #5CA7FD;
}
.lineSep2{
    position: absolute;
    top: 41%;
    left: 20%;

    width: 60%;
    height: 0.05em;
    margin: auto;

    background-color: #5CA7FD;
}
.lineSep3{
    position: absolute;
    top: 62%;
    left: 20%;

    width: 60%;
    height: 0.05em;
    margin: auto;

    background-color: #5CA7FD;
}
.lineSep4{
    position: absolute;
    top: 83%;
    left: 20%;

    width: 60%;
    height: 0.05em;
    margin: auto;

    background-color: #5CA7FD;
}
.lineSep5{
    position: absolute;
    top: 104%;
    left: 20%;

    width: 60%;
    height: 0.05em;
    margin: auto;

    background-color: #5CA7FD;
}
.lineSep6{
    position: absolute;
    top: 125%;
    left: 20%;

    width: 60%;
    height: 0.05em;
    margin: auto;

    background-color: #5CA7FD;
}

.comp1-not1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    
    text-align: left;
    text-indent: 2em;
    margin: auto;
    padding-top: 0.3em;
}
.comp2-not1{
    grid-column-start: 2;
    grid-row-start: 1;

    font-size: 2em;
    margin: auto;

    padding-right: 6em;
}
.comp2-not1 h5{
    margin: auto;
}
.comp3-not1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;

    text-indent: 5%;
    font-size: 0.9em;
}
.comp4{
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}
.comp5{
    grid-column-start: 3;
    grid-row-start: 3;
}
.comp6{
    grid-column-start: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}

p{
    margin: 0 auto;
}


.imgPerfil{
    width: 75%;
    height: 120px;
    margin: auto;
    border-radius: 20%;
    filter: drop-shadow(0em 0em 0.2em #fff);
}
.separador{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    width: 1%;
    height: 160%;
    margin: auto;
    background-color: #adadad;
}

.checar{
    margin: auto;
    width: 40%;
    height: 60%;

}
.AvisoCheck:hover{
    background-color: rgb(223, 223, 223);
    transition: 0.1s linear;
}
.AvisoCheckChecked{
    background-image: url(/Site/img/notificacoes/sinal-de-visto.png);
    background-repeat: no-repeat;
    background-size: 100%;

    transition: 0.1s linear;
}

.AvisoCheck{
    width: 90%;
    height: 135%;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s linear;
    border: 0.01em solid rgb(80, 80, 80);
    background-color: rgb(255, 255, 255);
}

.dataNotif{
    text-align: end;
    margin: auto;   
    color: #858585;
}

.redirect{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.ir{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 70%;
    position: absolute;
    left: 18%;
    top: 30%;
    margin: auto;
    width: 70%;
    height: 60%;
    border-radius: 1em;
    border: none;

}
.ir:hover{
    cursor: pointer;
    background-color: #a35802;
    transition: 0.3s linear;
    filter: invert(100%);
}

.irTurmas{
    margin: auto;
    width: 120%;
}

.imgIrTurmas{
    grid-row-start: 2;
    grid-column-start: 2;
}
h6{
    margin: auto;
}

.textIr{
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    margin: auto;
    padding-top: 20%;
}

.dropDown h5:hover{
    background-color: #40b9ff;
    transition: all 0.5s linear;
}