body{
    height: 88.1vh;
}
.lastNoti{
    position: relative;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    margin: auto;

    background-color: rgb(240, 240, 240);
}
.lastNoti h3{
    position: absolute;
    left: 1%;
    margin: 0 auto;
}

.tituloRecentes{
    position: absolute;
    top: 5%;
    left: 9%;
    
    width: 91%;
    font-size: 2em;
    background-color: aqua;
}

.placeNotiRecentes{
    position: absolute;
    top: 15%;
    left: 11%;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6% 0.4%;

    width: 82%;
    height: 80%;

    background-color: #ffffff;
}

.iconFilter{
    position: absolute;
    left: 12%;
    width: 1.4%;
    padding: 0.2em;
    border-radius: 50%;
}
.iconFilter:hover{
    background-color: #e6e6e6;
    cursor: pointer;
    transition: 0.1s linear;
}

.lineAlert{
    border: 1px solid black;
}

/*Noti1*/
.noti1{
    display: grid;
    grid-template-columns: 10% 30% 30% 5% 10%;
    grid-template-rows: 30% 50% 20%;
}
.comp1-not1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    
    text-align: left;
    text-indent: 2em;
    margin: auto;
    padding-top: 0.3em;
}
.comp2-not1{
    grid-column-start: 2;
    grid-row-start: 1;

    font-size: 2em;
    margin: auto;

    padding-right: 6em;
}
.comp2-not1 h5{
    margin: auto;
}
.comp3-not1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;

    text-indent: 5%;
    font-size: 0.9em;
}
.comp4{
    grid-column-start: 5;
    grid-row-start: 2;
}




.imgPerfil{
    width: 60%;
    margin: auto;
    border-radius: 50%;
    filter: drop-shadow(0em 0em 0.2em #fff);
}
.separador{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;

    width: 1%;
    height: 91px;
    margin: auto;
    background-color: #adadad;
}

.checar{
    margin: auto;
    width: 35%;
    height: 100%;

}
.AvisoCheck:hover{
    background-color: rgb(223, 223, 223);
    transition: 0.1s linear;
}
.AvisoCheckChecked{
    background-image: url(/Site/img/notificacoes/sinal-de-visto.png);
    background-repeat: no-repeat;
    background-size: 100%;

    transition: 0.1s linear;
}

.AvisoCheck{
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
    border: 0.01em solid rgb(80, 80, 80);
    background-color: rgb(255, 255, 255);
}